* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Segoe UI", sans-serif;
            background: linear-gradient(135deg, #fafafa, #e5c8ff);
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            font-size: 48px;
            margin: 30px 0;
            /* background: linear-gradient(135deg, #2d2c2c 0%, #9aa7a5 100%); */
            color: #434343;
        }

        /* Fixed Cart */
        #addcart {
            position: fixed;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            gap: 8px;
            background: white;
            padding: 8px 14px;
            border-radius: 30px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            z-index: 100;
        }

        #addcart img {
            width: 26px;
        }

        #cartCount {
            background: #ef4444;
            color: white;
            font-size: 12px;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 50%;
        }

        .container {
            max-width: 1200px;
            margin: auto;
            padding: 0 10px;
        }

        .productDiv {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 24px;
            margin-bottom: 40px;
        }

        .card {
            background: rgba(255, 255, 255, 0.95);
            border-radius: 20px;
            padding: 16px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            transition: 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px) scale(1.02);
        }

        .card img {
            height: 160px;
            object-fit: contain;
            margin-bottom: 12px;
        }

        .title {
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: #111827;
            height: 36px;
            overflow: hidden;
            margin-bottom: 6px;
            text-align: center;
            justify-content: center;
            
        }

        .card h4 {
            color: #4f46e5;
            margin-bottom: 12px;
            font-size: 16px;
        }

        .card button {
            margin-top: auto;
            border: none;
            padding: 10px;
            border-radius: 12px;
            font-weight: bold;
            color: white;
            background: linear-gradient(135deg, #6366f1, #4f46e5);
            cursor: pointer;
            transition: 0.3s;
        }

        .card button:hover {
            background: linear-gradient(135deg, #4f46e5, #8638ca);
            transform: scale(1.03);
        }